.sns-div{
    display: flex;
    gap:10px;
 
 
}

.sns-text{
    
    display:inline;
    align-items: center;
    list-style: none;
    text-align: center;
    font-size: 20px;
    color: black;
    
    
}

.sns-text a{
    
}

