:root{
    --transition: all 0.25s cubic-bezier(0.645,0.045,0.355,1);

}
.contact p {
    margin-top: 40px;
    font-size: 16px;
    line-height: 1.6;
}
.email-link{
    margin-top: 50px;
    color: #828282;
    background-color: transparent;
    font-size:14px;
    border-style: solid;
    border-width: 1.5px;
    border-radius: 4px;
    display: block;
    text-decoration: none;
    background: none;
    width: 100px;
    text-align: center;
    font-weight: 400;
    line-height: 25px;
    cursor: pointer;
    padding: 5px 0px; 
    font-size: 12px;
    transition: var(--transition);

}

.email-link:hover{
    background-color: #82828217;
    width: 100px;
    outline: none;
   
  
}
    